//Displaying pending orders

<%- include('../partials/header'); -%>
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <!-- <ol class="breadcrumb pull-right">
            <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol> -->
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Pending Orders for today <small>Assign drivers to the orders to be delivered today...</small></h1>
        <!-- <form action="/dash/drivers/new">
            <button type="submit" class="btn btn-md btn-success btn-block" style="margin-bottom:10px;">Add driver</button>
        </form> -->
        <!-- end page-header -->

        <!-- begin row -->
        <div class="row">
            <!-- begin col-3 -->
            <div class="col-lg-12 col-md-12">

                <div class="panel panel-inverse" data-sortable-id="table-basic-1">
                    <!-- begin panel-heading -->
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="/dash/pending-orders" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo" style="margin-top: 3px;"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand" style="margin-top: 3px;"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus" style="margin-top: 3px;"></i></a>
                        </div>
                        <h4 class="panel-title">Pending Orders</h4>
                    </div>
                    <!-- end panel-heading -->
                    <!-- begin panel-body -->
                    <div class="panel-body">
                        <!-- begin table-responsive -->
                        <div class="table-responsive">
                            <% if(typeof pendingOrders !== 'undefined' && pendingOrders!=null){ %>
                                    <table class="table table-responsive table-hover m-b-0">
                                    <thead>
                                        <tr>
                                            <th>Order ID</th>
                                            <th>Shipping address</th>
                                            <th>Order Date</th>
                                            <th>Delivery Date</th>
                                            <th>Email ID</th>
                                            <th>Name</th>
                                            <th>Mobile no</th>
                                            <th>Amount</th>
                                            <th>Order Status</th>
                                            <th>Available drivers</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% pendingOrders.forEach(function(pendingOrder){ %>
                                            <tr>
                                                <form method="POST">
                                                    <td class="with-form-control">
                                                        <input readonly="readonly" style="background: transparent; border: none; color:black; font-size: 16px; width: 70px;" type="number" class="form-control" name="order_id" value="<%= pendingOrder.order_id %>">
                                                    </td>
                                                    <td class="with-form-control">
                                                        <input readonly="readonly" style="background: transparent; border: none; color:black; font-size: 16px;width: min-content;" type="textarea" class="form-control" name="shipping_address" value="<%= pendingOrder.order_shipping_address %>">
                                                    </td>
                                                    <td class="with-form-control">
                                                        <input readonly="readonly" style="background: transparent; border: none; color:black; font-size: 16px;width: fit-content;" type="textarea" class="form-control" name="order_date" value="<%= pendingOrder.order_date %>">
                                                    </td>
                                                    <td class="with-form-control">
                                                        <input readonly="readonly" style="background: transparent; border: none; color:black; font-size: 16px;width: fit-content;" type="textarea" class="form-control" name="order_delivery_date" value="<%= pendingOrder.order_delivery_date %>">
                                                    </td>
                                                    <td class="with-form-control">
                                                        <input readonly="readonly" style="background: transparent; border: none; color:black; font-size: 16px;width: fit-content;" type="text" class="form-control" name="email" value="<%= pendingOrder.fk_email_id %>">
                                                    </td>
                                                    <td class="with-form-control">
                                                        <input readonly="readonly" style="background: transparent; border: none; color:black; font-size: 16px;width: fit-content;" type="text" class="form-control" name="name" value="<%= pendingOrder.user_name %>">
                                                    </td>
                                                    <td class="with-form-control">
                                                        <input readonly="readonly" style="background: transparent; border: none; color:black; font-size: 16px;width: 130px;" type="number" class="form-control" name="mobile_no" value="<%= pendingOrder.mobile_no %>">
                                                    </td>
                                                    <td class="with-form-control">
                                                        <input readonly="readonly" style="background: transparent; border: none; color:black; font-size: 16px;width: 130px;" type="text" class="form-control" name="amount" value="<%= pendingOrder.order_amount %>">
                                                    </td>
                                                    <td class="with-form-control">
                                                        <input readonly="readonly" style="background: transparent; border: none; color:black; font-size: 16px;width: fit-content;" type="text" class="form-control" name="order_status" value="<%= pendingOrder.order_status %>">
                                                    </td>
                                                    <td class="with-form-control">
                                                        <select id="drivers" name="available_drivers" style="font-size: 16px;" required>
                                                            <% availableDrivers.forEach(function(driver){ %>
                                                                <option value="<%= driver.driver_id %>" style="font-size: 16px;"><%= driver.name %></option>
                                                            <% }); %>
                                                          </select>
                                                    </td>
                                                    <td class="with-btn-group" nowrap>
                                                        <input type="submit" formaction="/dash/assign-driver/<%= pendingOrder.order_id %>" class="btn btn-sm btn-outline-primary" value="Assign Driver"/>
                                                        <input type="submit" formaction="/dash/orders/<%= pendingOrder.order_id %>/?_method=GET" class="btn btn-sm btn-outline-secondary" value="View More"/>
                                                    </td>
                                                </form>
                                            </tr>
                                            <% }); %>

                                    </tbody>
                                </table>
                            
                            <% }else{ %>

                                <div class="container"><h2 style="text-align: center;">No pending orders.</h2></div>
            
                            <% } %> 
                            <br>
                            <%- include('../partials/messages'); -%>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                    <!-- end panel-body -->
                    <!-- begin hljs-wrapper -->
                    <!-- <div class="hljs-wrapper">
                        <pre><code class="html">&lt;table class="table"&gt;
...
&lt;/table&gt;</code></pre>
                    </div> -->
                    <!-- end hljs-wrapper -->
                </div>
                <!-- end panel -->

            </div>
        </div>
    </div>

    <%- include('../partials/footer'); -%>