<%- include('../partials/header'); -%>
<!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Your orders</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                        <!-- <a href="/products">Shop<span class="lnr lnr-arrow-right"></span></a> -->
                        <a href="">Your orders</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <% if(typeof orders !== 'undefined' && orders!=null){ %>
                    
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Order ID</th>
                                    <th scope="col">Order date</th>
                                    <th scope="col">Order amount</th>
                                    <th scope="col">Order status</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.forEach(function(order){ %>
                                    <tr>
                                        <form method="GET">
                                            <td>
                                                <div class="media">
                                                    <div class="media-body">
                                                        <p><%= order.order_id %></p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h5><%= order.order_date %></h5>
                                            </td>
                                            <td>
                                                <div class="product_count">
                                                    <h5><%= order.order_amount %></h5>
                                                    <!-- <input type="text" name="qty" id="sst" maxlength="12" value="1"
                                                        title="Quantity:" class="input-text qty">
                                                    <button
                                                        onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                                        class="increase items-count" type="button"><i
                                                            class="lnr lnr-chevron-up"></i></button>
                                                    <button
                                                        onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) == sst > 0 )  result.value--;return false;"
                                                        class="reduced items-count" type="button"><i
                                                            class="lnr lnr-chevron-down"></i></button> -->
                                                </div>
                                            </td>
                                            <td>
                                                <h5><%= order.order_status %></h5>
                                            </td>
                                            <td>
                                                <button type="submit" formaction="orders/<%= order.order_id %>" class="btn btn-sm btn-outline-primary"><i class="fa fa-info-circle"></i></button>
                                            </td>
                                        </form>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                
                <% }else{ %>

                    <div class="container"><h2 style="text-align: center;">No orders yet.</h2></div>

                <% } %>    
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
    <%- include('../partials/footer'); -%>